body{
  margin: 0;
  background-color:#2B81AC ;
}
*{transition: all .1s ease-in;}
.back-box{
  width: 98%;
  height: 580px;
  background-color:#3399CC ;
  margin: 1%;
}
#header{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: linen;
  padding:50px 0 0 20%;
  margin: 0;
}
ul{
  font-size: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}
ul li{
  display: inline-block;
  height:100px;
  color: linen;
  font-size: 20px;
}
p{
  margin: 15px;
}
p+span{
  color: #74475d;
  margin: 0;
}
ul li:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}
ul li:active{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}
.main-box{
  margin: 10px auto;
  width: 60%;
  border: 3px solid linen;
  border-radius: 3px;
}
.line{
  width: 24.64%;
  text-align: center;
}
.line2{
  width: 24.67%;
  text-align: center;
  border-top:0.25vw solid linen;
  border-bottom:0.25vw solid linen;
  border-right: 0.25vw solid linen;
}

#li1{
  width:49.78%;
}
#li2{
  background-color: #33CCCC;
  border-left: 0.25vw solid linen;
  border-right: 0.25vw solid linen;
}
#li3{
  background-color: #996699;
}
#li4{
  background-color:#c24747;
}
#li5{
  background-color: #e2674a;
}
#li6{
  background-color: #ffcc66;
}
#li7{
  background-color: #99cc99;
  border-right: none;
}
#li8{
  background-color: #669999;
}
#li9{
  width: 49.78%;
  background-color: #cc6699;
  border-left: 0.25vw solid linen;
  border-right: 0.25vw solid linen;
}
#li10{
  background-color: #339966;
}
#li11{
  width: 100%;
  background-color: #666699;
  border-top:0.25vw solid linen;
}