body{
  background-color:#3B3F45;
  margin: 0;
}
.header-box{
  width: 100%;
  display: inline-block;
  height:140px;
  text-align: center;
  background-color: #4A4F56;
  color:#EB7E7F;
}
*{transition: all 0.1s ease-in}

.header-box:first-line{
  font-family:"Roboto",sans-serif;
  font-size: 50px;
}
.header-box p:last-of-type{
  font-family: 'Roboto Thin', sans-serif;
  font-size: 20px;
}
.main{
  margin: 20px auto;
  width: 800px;
  background-color: #88839E;
}
ul{
  list-style-type: none;
  padding-inline-start:0;
  font-size: 20px;
}
li:nth-child(2n){
  background-color:#7A7593;
}
li*{
  padding: 5px;
  height: 100%;
  vertical-align: center;
}
li:hover{
  background-color: rgb(98,94,114);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 3px 5px;
}
input{
  margin: 0 20px;
}
input:checked + label{
text-decoration: line-through;
  color: #979BB3;
}
label{
color: linen;
  font-family: 'Play', sans-serif;
}
.comm{
  color: lightgray;
  font-size: 16px;
}
.comm::before{
content: "("
}
.comm::after{
  content: ")"
}
.footer{
  width:800px;
  background-color: #4a4f56;
  margin: auto;
  height: 66px;
  text-align: center;
  color:#eb7e7f;
  font-family:"Roboto Thin";
  font-size: 26px;
  vertical-align: center;
}
