.all-box{
    background-color: #74475d;
    width:30%;
    height:auto;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0.5vw;
    color: linen;
    text-align: center;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    float: left;
}
body{
    background-color: linen;
    background-image: url("../img/dark_pattern.png");
}
.header-box{
    width: 50%;
    height:auto;
    padding: 10px 0px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: linen;

}
.imag{
    max-width: 200px;
    max-height: 200px;
}